html, body {
   height: 100%;
}

body {
    padding:0;
    margin:0;
    background: #050300;

    height: 100%;
    overflow: hidden;
}

#sfera{
    display: block;
    position: relative;
    cursor: pointer;
    height: 7em;
    width: 7em;
    top: 50%;
    margin: -7.5em auto;
    border-radius: 50%;
  

  box-shadow: 0 3em 2.5em -2.5em rgba(58, 0, 0, 0.871), 0 0 1em -0.35em rgba(36, 1, 1, 0.882), 0 -1em 1.1em 0 rgba(40, 1, 1, 0.5) inset, 0 0 2.5em 0 rgba(0, 0, 0, 0.4) inset;
  background: 
              radial-gradient(circle at 33% -25%, 
              rgba(255, 255, 255, 0) 40%,
              rgba(0, 0, 0, 0.07) 50%), 
              radial-gradient(circle at 50% 135%, 
              rgba(0, 0, 0, 0.23) 43%, 
              rgba(255, 255, 255, 0)), 
              radial-gradient(circle at 50% -35%, 
              rgba(229, 4, 4, 0.8) 45%, 
              rgba(255, 255, 255, 0)), 
              radial-gradient(circle at 50% 0, 
              #250101, 
              #2f0303);

  background-size: 150%, 100%, 100%, 100%;
}

.grain {
	z-index: 10;
	position: absolute;
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	margin: auto;
	background: 
  radial-gradient(circle at 50% 50%, #000, #0000),
		url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='2' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	filter: contrast(100%) brightness(200%) grayscale(1) opacity(0.168);
	mix-blend-mode: screen;
}